In [57]:
import datetime as dt
import numpy as np
import pandas as pd
import pathlib as p
import time as t


dir_covid_19 = p.PureWindowsPath(r"C:\Users\norma\HDD_Documents\BootCamp\Projects\Project1\CoronaVirus\COVID-19")

study_date = dt.date(2020, 3, 13)
#"C:\Users\norma\HDD_Documents\BootCamp\Projects\Project1\CoronaVirus\COVID-19\
# csse_covid_19_data\csse_covid_19_daily_reports\03-13-2020.csv"

mmddyyyy_study_date = study_date.strftime("%m-%d-%Y")

In [2]:
# Daily Summary Statistics
daily_report_filename = p.Path(dir_covid_19) / f"csse_covid_19_data/csse_covid_19_daily_reports/{mmddyyyy_study_date}.csv"
type(daily_report_filename)
ss = pd.read_csv(daily_report_filename)

In [3]:
ss[ss['Country/Region'] == 'Italy']

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
62,NaN,Italy,2020-03-11T20:00:00,17660,1266,1439,41.8719,12.5674

In [4]:
# Aggregate the summary data by country
ss_country = pd.pivot_table(ss, values=["Confirmed","Deaths","Recovered"], index="Country/Region", columns=None, aggfunc="sum")
ss_country

                      Confirmed  Deaths  Recovered
Country/Region
Afghanistan                   7       0          0
Albania                      33       1          0
Algeria                      26       2          8
Andorra                       1       0          0
Antigua and Barbuda           1       0          0
...                         ...     ...        ...
US                         2179      47         12
Ukraine                       3       1          0
United Arab Emirates         85       0         17
United Kingdom              801       8         19
Vietnam                      47       0         16

[125 rows x 3 columns]

In [105]:
# Time Series -- Confirmed
time_series_confirmed_filename = p.Path(dir_covid_19) / "csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"
#"C:\Users\norma\HDD_Documents\BootCamp\Projects\Project1\CoronaVirus\COVID-19\csse_covid_19_data\csse_covid_19_time_series\time_series_19-covid-Confirmed.csv"
tsc = pd.read_csv(time_series_confirmed_filename)
tsc_country = pd.pivot_table(tsc, index="Country/Region", aggfunc="sum").drop(columns=["Lat","Long"])
sdt = [dt.datetime(*ts[0:6]).date() for ts in [t.strptime(i,'%m/%d/%y') for i in tsc_country.columns]]
sdt.sort()
tsc_country.columns = sdt
tsc_country['Onset'] = tsc_country.ne(0).idxmax(axis=1)
#tsc_country

In [106]:
tsc_country

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,Onset
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7,1,1,1,1,1,1,4,4,2020-02-17
Albania,0,0,0,0,0,0,0,0,0,0,...,33,0,0,0,0,0,0,0,2,2020-03-02
Algeria,0,0,0,0,0,0,0,0,0,0,...,26,3,5,12,12,17,17,19,20,2020-02-18
Andorra,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,2020-03-02
Antigua and Barbuda,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2020-03-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,1,1,2,2,5,5,5,5,5,7,...,2179,98,118,149,217,262,402,518,583,2020-01-22
Ukraine,0,0,0,0,0,0,0,0,0,0,...,3,0,1,1,1,1,1,1,1,2020-03-02
United Arab Emirates,0,0,0,0,0,0,0,4,4,4,...,85,21,27,27,29,29,45,45,45,2020-01-29
United Kingdom,0,0,0,0,0,0,0,0,0,2,...,801,40,51,86,116,164,207,274,322,2020-01-31
Vietnam,0,2,2,2,2,2,2,2,2,2,...,47,16,16,16,16,16,18,30,30,2020-01-23

In [65]:
tsc_country.columns
tsc_country.shape
date_object = t.strptime('1/27/20', '%m/%d/%y')
print(type(date_object), date_object)
date_time = dt.datetime(*date_object[0:6])
mydate = date_time.date()
print(type(mydate), mydate)

<class 'time.struct_time'> time.struct_time(tm_year=2020, tm_mon=1, tm_mday=27, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=27, tm_isdst=-1)
<class 'datetime.date'> 2020-01-27

In [48]:
relative_day_count = tsc_country.shape[1]-1
rel_country = pd.DataFrame(columns=[i for i in range(1,tsc_country.shape[1])])
rel_country

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]
Index: []

[0 rows x 52 columns]

In [50]:
country_df_list = list()
for index, row in tsc_country.iterrows():
    print(index, type(index), row["Onset"])
    country_df = pd.DataFrame({index : [0]*relative_day_count}).T
    print(country_df.shape)
    break

row.sort_index().values

Afghanistan <class 'str'> 2/24/20
(1, 52)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 5, 7, 7, 7,
       1, 1, 1, 1, 1, 1, 4, 4, '2/24/20'], dtype=object)

In [22]:
pd.DataFrame({"USA" : [i for i in range(5)]}).T

     0  1  2  3  4
USA  0  1  2  3  4

In [29]:
[0]*relative_day_count

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]