In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import pathlib as p
import time as t


dir_covid_19 = p.PureWindowsPath(r"C:\Users\norma\HDD_Documents\BootCamp\Projects\Project1\CoronaVirus\COVID-19")

study_date = dt.date(2020, 3, 13)
#"C:\Users\norma\HDD_Documents\BootCamp\Projects\Project1\CoronaVirus\COVID-19\
# csse_covid_19_data\csse_covid_19_daily_reports\03-13-2020.csv"

mmddyyyy_study_date = study_date.strftime("%m-%d-%Y")

In [2]:
# Daily Summary Statistics
daily_report_filename = p.Path(dir_covid_19) / f"csse_covid_19_data/csse_covid_19_daily_reports/{mmddyyyy_study_date}.csv"
type(daily_report_filename)
ss = pd.read_csv(daily_report_filename)

In [3]:
ss[ss['Country/Region'] == 'Italy']

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
62,NaN,Italy,2020-03-11T20:00:00,17660,1266,1439,41.8719,12.5674

In [4]:
# Aggregate the summary data by country
ss_country = pd.pivot_table(ss, values=["Confirmed","Deaths","Recovered"], index="Country/Region", columns=None, aggfunc="sum")
ss_country

                      Confirmed  Deaths  Recovered
Country/Region
Afghanistan                   7       0          0
Albania                      33       1          0
Algeria                      26       2          8
Andorra                       1       0          0
Antigua and Barbuda           1       0          0
...                         ...     ...        ...
US                         2179      47         12
Ukraine                       3       1          0
United Arab Emirates         85       0         17
United Kingdom              801       8         19
Vietnam                      47       0         16

[125 rows x 3 columns]

In [92]:
# Time Series -- Confirmed
time_series_confirmed_filename = p.Path(dir_covid_19) / "csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"
#"C:\Users\norma\HDD_Documents\BootCamp\Projects\Project1\CoronaVirus\COVID-19\csse_covid_19_data\csse_covid_19_time_series\time_series_19-covid-Confirmed.csv"
tsc = pd.read_csv(time_series_confirmed_filename)
tsc_country = pd.pivot_table(tsc, index="Country/Region", aggfunc="sum").drop(columns=["Lat","Long"])
# Transpose the DataFrame, because Pandas likes the dates in the index
tsc_country = tsc_country.T

In [101]:
# Change the string index to Timestamp
tsc_country.index = [pd.Timestamp(d) for d in tsc_country.index]
# Now sort the DataFrame by the Timestamp index
tsc_country = tsc_country.loc[tsc_country.index.sort_values(),:]
tsc_country

Country/Region,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,Taiwan*,Thailand,Togo,Tunisia,Turkey,US,Ukraine,United Arab Emirates,United Kingdom,Vietnam
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,1,2,0,0,0,1,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,1,3,0,0,0,1,0,0,0,2
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,3,5,0,0,0,2,0,0,0,2
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,3,7,0,0,0,2,0,0,0,2
2020-01-26,0,0,0,0,0,0,0,0,4,0,...,4,8,0,0,0,5,0,0,0,2
2020-01-27,0,0,0,0,0,0,0,0,5,0,...,5,8,0,0,0,5,0,0,0,2
2020-01-28,0,0,0,0,0,0,0,0,5,0,...,8,14,0,0,0,5,0,0,0,2
2020-01-29,0,0,0,0,0,0,0,0,6,0,...,8,14,0,0,0,5,0,4,0,2
2020-01-30,0,0,0,0,0,0,0,0,9,0,...,9,14,0,0,0,5,0,4,0,2
2020-01-31,0,0,0,0,0,0,0,0,9,0,...,10,19,0,0,0,7,0,4,2,2
2020-02-01,0,0,0,0,0,0,0,0,12,0,...,10,19,0,0,0,8,0,4,2,6
2020-02-02,0,0,0,0,0,0,0,0,12,0,...,10,19,0,0,0,8,0,5,2,6
2020-02-03,0,0,0,0,0,0,0,0,12,0,...,10,19,0,0,0,11,0,5,2,8
2020-02-04,0,0,0,0,0,0,0,0,13,0,...,11,25,0,0,0,11,0,5,2,8
2020-02-05,0,0,0,0,0,0,0,0,13,0,...,11,25,0,0,0,11,0,5,2,8
2020-02-06,0,0,0,0,0,0,0,0,14,0,...,16,25,0,0,0,11,0,5,2,10
2020-02-07,0,0,0,0,0,0,0,0,15,0,...,16,25,0,0,0,11,0,5,3,10
2020-02-08,0,0,0,0,0,0,0,0,15,0,...,17,32,0,0,0,11,0,7,3,13
2020-02-09,0,0,0,0,0,0,0,0,15,0,...,18,32,0,0,0,11,0,7,3,13
2020-02-10,0,0,0,0,0,0,0,0,15,0,...,18,32,0,0,0,11,0,8,8,14
2020-02-11,0,0,0,0,0,0,0,0,15,0,...,18,33,0,0,0,12,0,8,8,15
2020-02-12,0,0,0,0,0,0,0,0,15,0,...,18,33,0,0,0,12,0,8,9,15
2020-02-13,0,0,0,0,0,0,0,0,15,0,...,18,33,0,0,0,13,0,8,9,16
2020-02-14,0,0,0,0,0,0,0,0,15,0,...,18,33,0,0,0,13,0,8,9,16
2020-02-15,0,0,0,0,0,0,0,0,15,0,...,18,33,0,0,0,13,0,8,9,16
2020-02-16,0,0,0,0,0,0,0,0,15,0,...,20,34,0,0,0,13,0,9,9,16
2020-02-17,0,0,0,0,0,0,0,0,15,0,...,22,35,0,0,0,13,0,9,9,16
2020-02-18,0,0,0,0,0,0,0,0,15,0,...,22,35,0,0,0,13,0,9,9,16
2020-02-19,0,0,0,0,0,0,0,0,15,0,...,23,35,0,0,0,13,0,9,9,16
2020-02-20,0,0,0,0,0,0,0,0,15,0,...,24,35,0,0,0,13,0,9,9,16
2020-02-21,0,0,0,0,0,0,0,0,19,0,...,26,35,0,0,0,15,0,9,9,16
2020-02-22,0,0,0,0,0,0,0,0,22,0,...,26,35,0,0,0,15,0,13,9,16
2020-02-23,0,0,0,0,0,0,0,0,22,0,...,28,35,0,0,0,15,0,13,9,16
2020-02-24,1,0,0,0,0,0,0,0,22,0,...,30,35,0,0,0,51,0,13,13,16
2020-02-25,1,0,1,0,0,0,0,0,22,2,...,31,37,0,0,0,51,0,13,13,16
2020-02-26,1,0,1,0,0,0,0,0,22,2,...,32,40,0,0,0,57,0,13,13,16
2020-02-27,1,0,1,0,0,0,0,0,23,3,...,32,40,0,0,0,58,0,13,15,16
2020-02-28,1,0,1,0,0,0,0,0,23,3,...,34,41,0,0,0,60,0,19,20,16
2020-02-29,1,0,1,0,0,0,0,0,25,9,...,39,42,0,0,0,68,0,21,23,16
2020-03-01,1,0,1,0,0,0,1,0,27,14,...,40,42,0,0,0,74,0,21,36,16
2020-03-02,1,0,3,1,0,0,1,0,30,18,...,41,43,0,0,0,98,0,21,40,16
2020-03-03,1,0,5,1,0,1,1,0,39,21,...,42,43,0,0,0,118,1,27,51,16
2020-03-04,1,0,12,1,0,1,1,0,52,29,...,42,43,0,1,0,149,1,27,86,16
2020-03-05,1,0,12,1,0,1,1,0,55,41,...,44,47,0,1,0,217,1,29,116,16
2020-03-06,1,0,17,1,0,2,1,0,60,55,...,45,48,1,1,0,262,1,29,164,16
2020-03-07,1,0,17,1,0,8,1,0,63,79,...,45,50,1,1,0,402,1,45,207,18
2020-03-08,4,0,19,1,0,12,1,0,76,104,...,45,50,1,2,0,518,1,45,274,30
2020-03-09,4,2,20,1,0,12,1,0,91,131,...,45,50,1,2,0,583,1,45,322,30
2020-03-10,5,10,20,1,0,17,1,0,107,182,...,47,53,1,5,0,959,1,74,384,31
2020-03-11,7,12,20,1,0,19,1,0,128,246,...,48,59,1,7,1,1281,1,74,459,38
2020-03-12,7,23,24,1,0,19,4,0,128,302,...,49,70,1,7,1,1663,1,85,459,39
2020-03-13,7,33,26,1,1,31,8,2,200,504,...,50,75,1,16,5,2179,3,85,801,47

In [103]:
# Find the first non-zero column for each country, the onset of infections
#tsc_country['Onset'] = tsc_country.ne(0).idxmax(axis=0)
#tsc_country

Country/Region,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,Thailand,Togo,Tunisia,Turkey,US,Ukraine,United Arab Emirates,United Kingdom,Vietnam,Onset
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,1,0,0,0,0,NaT
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,0,0,0,2,NaT
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,5,0,0,0,2,0,0,0,2,NaT
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,7,0,0,0,2,0,0,0,2,NaT
2020-01-26,0,0,0,0,0,0,0,0,4,0,...,8,0,0,0,5,0,0,0,2,NaT
2020-01-27,0,0,0,0,0,0,0,0,5,0,...,8,0,0,0,5,0,0,0,2,NaT
2020-01-28,0,0,0,0,0,0,0,0,5,0,...,14,0,0,0,5,0,0,0,2,NaT
2020-01-29,0,0,0,0,0,0,0,0,6,0,...,14,0,0,0,5,0,4,0,2,NaT
2020-01-30,0,0,0,0,0,0,0,0,9,0,...,14,0,0,0,5,0,4,0,2,NaT
2020-01-31,0,0,0,0,0,0,0,0,9,0,...,19,0,0,0,7,0,4,2,2,NaT
2020-02-01,0,0,0,0,0,0,0,0,12,0,...,19,0,0,0,8,0,4,2,6,NaT
2020-02-02,0,0,0,0,0,0,0,0,12,0,...,19,0,0,0,8,0,5,2,6,NaT
2020-02-03,0,0,0,0,0,0,0,0,12,0,...,19,0,0,0,11,0,5,2,8,NaT
2020-02-04,0,0,0,0,0,0,0,0,13,0,...,25,0,0,0,11,0,5,2,8,NaT
2020-02-05,0,0,0,0,0,0,0,0,13,0,...,25,0,0,0,11,0,5,2,8,NaT
2020-02-06,0,0,0,0,0,0,0,0,14,0,...,25,0,0,0,11,0,5,2,10,NaT
2020-02-07,0,0,0,0,0,0,0,0,15,0,...,25,0,0,0,11,0,5,3,10,NaT
2020-02-08,0,0,0,0,0,0,0,0,15,0,...,32,0,0,0,11,0,7,3,13,NaT
2020-02-09,0,0,0,0,0,0,0,0,15,0,...,32,0,0,0,11,0,7,3,13,NaT
2020-02-10,0,0,0,0,0,0,0,0,15,0,...,32,0,0,0,11,0,8,8,14,NaT
2020-02-11,0,0,0,0,0,0,0,0,15,0,...,33,0,0,0,12,0,8,8,15,NaT
2020-02-12,0,0,0,0,0,0,0,0,15,0,...,33,0,0,0,12,0,8,9,15,NaT
2020-02-13,0,0,0,0,0,0,0,0,15,0,...,33,0,0,0,13,0,8,9,16,NaT
2020-02-14,0,0,0,0,0,0,0,0,15,0,...,33,0,0,0,13,0,8,9,16,NaT
2020-02-15,0,0,0,0,0,0,0,0,15,0,...,33,0,0,0,13,0,8,9,16,NaT
2020-02-16,0,0,0,0,0,0,0,0,15,0,...,34,0,0,0,13,0,9,9,16,NaT
2020-02-17,0,0,0,0,0,0,0,0,15,0,...,35,0,0,0,13,0,9,9,16,NaT
2020-02-18,0,0,0,0,0,0,0,0,15,0,...,35,0,0,0,13,0,9,9,16,NaT
2020-02-19,0,0,0,0,0,0,0,0,15,0,...,35,0,0,0,13,0,9,9,16,NaT
2020-02-20,0,0,0,0,0,0,0,0,15,0,...,35,0,0,0,13,0,9,9,16,NaT
2020-02-21,0,0,0,0,0,0,0,0,19,0,...,35,0,0,0,15,0,9,9,16,NaT
2020-02-22,0,0,0,0,0,0,0,0,22,0,...,35,0,0,0,15,0,13,9,16,NaT
2020-02-23,0,0,0,0,0,0,0,0,22,0,...,35,0,0,0,15,0,13,9,16,NaT
2020-02-24,1,0,0,0,0,0,0,0,22,0,...,35,0,0,0,51,0,13,13,16,NaT
2020-02-25,1,0,1,0,0,0,0,0,22,2,...,37,0,0,0,51,0,13,13,16,NaT
2020-02-26,1,0,1,0,0,0,0,0,22,2,...,40,0,0,0,57,0,13,13,16,NaT
2020-02-27,1,0,1,0,0,0,0,0,23,3,...,40,0,0,0,58,0,13,15,16,NaT
2020-02-28,1,0,1,0,0,0,0,0,23,3,...,41,0,0,0,60,0,19,20,16,NaT
2020-02-29,1,0,1,0,0,0,0,0,25,9,...,42,0,0,0,68,0,21,23,16,NaT
2020-03-01,1,0,1,0,0,0,1,0,27,14,...,42,0,0,0,74,0,21,36,16,NaT
2020-03-02,1,0,3,1,0,0,1,0,30,18,...,43,0,0,0,98,0,21,40,16,NaT
2020-03-03,1,0,5,1,0,1,1,0,39,21,...,43,0,0,0,118,1,27,51,16,NaT
2020-03-04,1,0,12,1,0,1,1,0,52,29,...,43,0,1,0,149,1,27,86,16,NaT
2020-03-05,1,0,12,1,0,1,1,0,55,41,...,47,0,1,0,217,1,29,116,16,NaT
2020-03-06,1,0,17,1,0,2,1,0,60,55,...,48,1,1,0,262,1,29,164,16,NaT
2020-03-07,1,0,17,1,0,8,1,0,63,79,...,50,1,1,0,402,1,45,207,18,NaT
2020-03-08,4,0,19,1,0,12,1,0,76,104,...,50,1,2,0,518,1,45,274,30,NaT
2020-03-09,4,2,20,1,0,12,1,0,91,131,...,50,1,2,0,583,1,45,322,30,NaT
2020-03-10,5,10,20,1,0,17,1,0,107,182,...,53,1,5,0,959,1,74,384,31,NaT
2020-03-11,7,12,20,1,0,19,1,0,128,246,...,59,1,7,1,1281,1,74,459,38,NaT
2020-03-12,7,23,24,1,0,19,4,0,128,302,...,70,1,7,1,1663,1,85,459,39,NaT
2020-03-13,7,33,26,1,1,31,8,2,200,504,...,75,1,16,5,2179,3,85,801,47,NaT

In [48]:
relative_day_count = tsc_country.shape[1]-1
rel_country = pd.DataFrame(columns=[i for i in range(1,tsc_country.shape[1])])
rel_country

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]
Index: []

[0 rows x 52 columns]

In [58]:
start_date = tsc_country.columns[0]
print(start_date)
country_df_list = list()
for row in tsc_country.itertuples():
    
    #print(f"Date Offset is {row['Onset'] - start_date}")
    #print(row)
    print(*row)
    print(row['Onset'])

    break

SyntaxError: can't use starred expression here (<ipython-input-58-2cc6820e4ef5>, line 12)